/* Write your CSS code here */
.about-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}
.ddiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about-img {
  width: 150px;
}
.about-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #3d3d3d;
}
.about-paragraph {
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  color: #555555;
}
